<h1>Aware360 Coding Test - Spenser Jones</h1>
<table>
  {{#each records}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.first_name}}</td>
    <td>{{this.last_name}}</td>
    <td>{{this.email}}</td>
    <td>{{this.country}}</td>
    <td>{{this.ip_address}}</td>
  </tr>
  {{/each}}
</table>
